<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobiletracking">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <uses-feature
        android:name="android.hardware.sensor.stepcounter"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/runner_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/runner_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileTracking">
        <activity
            android:name=".PositionHistory"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBgEY4Yh49caj7NpeSLJkfseYPmyCnKtKs" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PedometerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TrackerActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>